body{
    background-color: rgb(105, 119, 118);
}
.Container{
    display: flex;
}
.Image img{
    width: 140px;
    height: 140px;
    border: 2px solid #ff0;
    position: absolute;
    top: 20px;
    border-radius: 100px;
}
.Parent2{
    background-color: rgb(255, 255, 255);
color: #fff;
width: 100px;
height: 400px;
margin: 500px 0px 0px 10px;
border: 5px solid rgb(99, 99, 24);
background-color: ;
border-radius: 30px;
}
.BChild1 img{
    color: #fff;
width: 60px;
height: 60px;
border: 1px solid #ff0;
position: relative;
top: 300px;
left: 20px;
border-radius: 10px;
}
.BChild2 img{
    color: #fff;
width: 60px;
height: 60px;
border: 1px solid #ff0;
position: relative;
top: 160px;
left: 20px;
border-radius: 10px;
}
.BChild3 img{
    color: #fff;
width: 60px;
height: 60px;
border: 1px solid #ff0;
position: relative;
top: 20px;
left: 20px;
border-radius: 10px;
}
.Parent3{
    background-color: rgb(74,76,82);
    color: #fff;
    width: 500px;
    height: 150px;
    border: 1px solid #ff0;
    position: absolute;
    top: 20px;
    left: 200px;
}
h1{
    font-size: 50px;
}
Span{
    color: #ff0;
}
.Parent4{
    background-color: rgb(74,76,82);
    color: #fff;
    width: 700px;
    height: 700px;
    margin: 200px 0px 0px 50px;
    border: 5px solid #ff0;
    flex: 1px;
}
.DChild1{
    display: inline;
    margin: 0px 0px 0px 20px;
    font-size: 20px;
}
.DChild2,.DChild3,.DChild4,.DChild5{
    display: inline;
    color: aqua;
    margin: 0px 0px 0px 50px;
}
h2{
    line-height: 0px;
    font-size: 30px;
}
.DChild6{
    color: #fff;
    width: 200px;
    height: 400px;
    position: relative;
    top: 0px;
}
.DChild7{
    color: #fff;
    width: 200px;
    height: 400px;
    position: relative;
    bottom: 400px;
    left: 350px;
}
.Container2{
    display: flex;
    justify-content: none;
    align-content: flex-start;
    flex-direction: row;
}
.DChild8 img,.DChild9 img,.DChild10 img,.DChild11 img{
    display: inline-block;
    position: relative;
    bottom:700px;
    left: 350px;
    color: aqua;
    width:  60px;
    height: 60px;
    border: 1px solid #ff0;
    border-radius: 10px;
    margin: 0px 5px 0px 0px;
}
.Dchild12{
    display: inline-block;
    color: #fff;
    width: 200px;
    height: 400px;
    position: relative;
    bottom: 700px;
    left: 10px;
    font-size: 30px;
}
.Dchild13{
    display: inline-block;
    color: #fff;
    width: 200px;
    height: 400px;
    position: relative;
    bottom: 570px;
    right: 190px;
    font-size: 16px;
}
.Container3{
    display: inline-block;
    flex-direction: Column;
}
.DChild14 img,.DChild15 img,.DChild16 img{ 
    display: inline-block;
    position: relative;
    bottom: 550px;
    left: -50px;
    width:  70px;
    height: 70px;
    border: 2px solid #ff0;
    border-radius: 10px;
    margin: 10px 0px 0px 0px;
}
.Parent5{
    background-color: rgb(74,76,82);
    color: #fff;
    width: 100px;
    height: 800px;
    margin: 100px 0px 0px 40px;
    border: 5px solid #ff0;
}
.DChild17{
    display: inline;
    margin: 100px 0px 0px 0px;
    position: absolute;
    top: 500px;
}
.DChild18 img,.DChild19 img,.DChild20 img,.DChild21 img{
    display: inline;
    color: aqua;
    width:  60px;
    height: 60px;
    border: 1px solid #ff0;
    border-radius: 10px;
    margin: 20px 0px 0px 20px;
}
.DChild22{
    display: inline;
    position: relative;
    Top: 50px;
}
